/* ------------------- Responsive Media Query Style ----------- */
@media (max-width: 991px) {
	html {
		font-size: 55%;
	}
	.modal .container {
		width: 75rem;
	}
	.modal .container .image img {
		flex: 1 1 30rem;
	}
	.header__top {
		padding: 1.4rem;
	}
	.header__main {
		padding: 2rem;
	}
}
@media (max-width: 768px) {
	.modal .container {
		width: 45rem;
	}
	.modal .container .image img {
		display: none;
	}
	.modal .container .content {
		text-align: center;
		margin: 5rem 0;
	}
	.header__top .social {
		display: none;
	}
	.header__main .menu__bars {
		display: inline-block;
	}
	.header__main .navbar__list {
		position: absolute;
		top: 99%;
		right: 0;
		left: 0;
		background: rgb(255, 255, 255);
		box-shadow: var(--box-shadow);
		border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	.header__main .navbar__list.active {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	.header__main .navbar__list a {
		font-size: 2rem;
		display: block;
		margin: 2rem;
	}
	.header__main .logo {
		font-size: 4rem;
	}
}
@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
	.order form .input__box .input {
		width: 100%;
	}
}